In [1]:
import numpy as np
import pandas as pd

In [2]:
ratings = pd.read_csv(r"final_data.csv")
nltk_ratings = pd.read_csv(r"movie_id_reviews_with_nltk_rating.csv")

In [3]:
ratings

         Unnamed: 0  userId  movieId  rating          original_title
0                 0       1      110     1.0  Trois couleurs : Rouge
1             66512       1      147     4.5  Les Quatre Cents Coups
2             71479       1      858     5.0    Sleepless in Seattle
3            128549       1     1246     5.0            Rocky Balboa
4            154301       1     1968     4.0           Fools Rush In
...             ...     ...      ...     ...                     ...
1048570      793073  270896      788     2.5          Mrs. Doubtfire
1048571      883926  270896      480     5.0         Monsoon Wedding
1048572      921499  270896      500     3.5          Reservoir Dogs
1048573     1015493  270896     3101     3.0     I Love You to Death
1048574     1043103  270896      223     4.0                 Rebecca

[1048575 rows x 5 columns]

In [4]:
ratings = ratings.drop('Unnamed: 0',axis=1)
ratings.head()

   userId  movieId  rating          original_title
0       1      110     1.0  Trois couleurs : Rouge
1       1      147     4.5  Les Quatre Cents Coups
2       1      858     5.0    Sleepless in Seattle
3       1     1246     5.0            Rocky Balboa
4       1     1968     4.0           Fools Rush In

In [5]:
nltk_ratings

,Unnamed: 0,unique id,0,1,2,3,4,5,6,7,...,91,92,93,94,95,96,97,98,99,average_rating
0,0,tt0111495,It's almost impossible for me to sit down and ...,This is the last film of Krzysztof Kieslowski ...,"The last film in the Three Colors trilogy, RED...",The final and most haunting of Polish director...,"Valentine, a model in France is separated from...",Trilogies are very interesting. Some go out wi...,One of my favorite films of all time. With bea...,The final part of Kieslowski's trilogy based o...,...,The greatest movie ever.How's that for a conte...,"I've seen only a few of Kieslowski's movies, b...","According to some moviegoers, Blue is the best...",The final film of Krzysztof Kieslowski's Three...,"Red is an odd little movie, one that is diffic...","Kieslowski's masterpiece, _Red_(English title)...","""Red"" is the best of the three of Kieslowski's...",The conclusion of Krzysztof KieÅ›lowski's Three...,Moviegoers really have no right to expect that...,4.571285
1,1,tt0053198,"So here it is, the landmark film which ushered...","Every day life, however 'real' and gritty it m...",THE FOUR HUNDRED BLOWS (FranÃ§ois Truffaut - Fr...,"The memorable story of young, troubled Antoine...","As the seminal work of the French New Wave, th...",I first saw this film around three or four yea...,The title of the film is The 400 Blows but it ...,This classic and unforgettable movie with amaz...,...,"'The 400 Blows', Truffaut's debut feature film...","Truffaut's debut feature, which presents an ad...",This movie broke and mended my heart for a tho...,Truffaut's semi-autobiographical film about th...,Hailed as a masterpiece by critics this film i...,"I know, I know...everybody's a critic. But if ...",The 400 Blows (1959) :French Cinema's attempt ...,Filmmakers like Jean Luc-Godard and Claude Cha...,"The life of a young teenager, Antoine, unloved...",3.709128
2,2,tt0108160,Sleepless in Seattle is manipulative and unash...,"I will not lie to you, I will admit right from...",Another lovely film from Nora Ephron in the tr...,The movies are full of alternate universes and...,"Annie Reed (Meg Ryan) hears, on a late night t...",Regardless of how cyberspace has seemingly dim...,I won't lie to you-this movie is a CHICK FLICK...,This is a movie with characters and performanc...,...,This is a romance - between an imperfect woman...,"Yes, just like another one Meg Ryan's comedy -...",Love love LOVE this movie! I have just seen it...,Movies like this are really our generation' gr...,"I post something to my story on Instagram, say...",I enjoyed this film from the beginning. Who do...,SPOILERSThis movie came out 10 years ago and I...,Reviewing such cultural icon as Sleepless in S...,I loved this movie..saw it 7 times. (Not quite...,4.667067
3,3,tt0479143,If you are a film buff you know for example th...,"And so here we have it, to date the final entr...","""Let me tell you something you already know. T...",Guys...Stallone did it.I went in cringing and ...,It all started way back in 1976 when Sylvester...,Rocky Balboa (2006) is truly the best Rocky Mo...,"In Philadelphia, the retired former champion R...",I've been able to see this before it's release...,...,Every bit as inspiring as the one that started...,You know this was the story that SHOULD have b...,Life in Philly was going great for Rocky Balbo...,An excellent addition to the Rocky series. Goo...,"In general, I always liked this series, even V...",You know surprisingly while i'm watching this ...,Interesting update to the Rocky Balboa franchi...,WOW!! That is first word that comes to mind 12...,When I heard that Sylvester Stallone was attem...,4.266597
4,4,tt0119141,'Fools Rush In' is one of my favorite romantic...,Alex (Matthew Perry) is a hotshot construction...,Alex Whitman (Matthew Perry) is a New Yorker s...,This is one of those movies that I can't help ...,this movie deserves a good review; while there...,This was a fun movie to watch. It is about an ...,Matthew Perry's films haven't been great succe...,This movie has been accused of stereotyping it...,...,"First, there are things I enjoyed about this m...","I am a great fan of Friends, in particular Cha...",Director Andy Tennant should have asked for a ...,"FOOLS RUSH IN (1997) **1/2 Matthew Perry, Salm...",This film shows the differences between differ...,"I saw ""Fools Rush In"" over the past weekend, a...","I just caught this on HBO, and before watching...",'Fools Rush In' is an entertaining movie altho...,I feel that I am drown in Mathew's gorgeous ey...,4.756418
5,5,tt0029811,"""Young and Innocent"" is one of the best of Alf...",Hitch GIves You Another Great Mystery Thriller...,I hold with what seems to be the majority opin...,"Sort of a blueprint for any number of later, m...",Young and Innocent (1937)The title is appropri...,Young and Innocent (1937) *** (out of 4) Nice ...,The argument is always going to pursue Hitchco...,A young man (Derek De Marney) is accused of mu...,...,A famous movie star is killed by her husband f...,Very enjoyable; quite similar to '39 Steps' an...,"It's not that the basic premise was bad, but t...",Alfred Hitchcock made some very good films. Fr...,Derrick de Marney (Robert) goes on the run aft...,A common motif in many Alfred Hitchcock films ...,A story about an innocent man accused of a cri...,a man is wrongly accused of a crime he didn't ...,I must say I was surprised by this one- surpri...,3.598082
6,6,tt0762114,My friend and I were so excited to see this mo...,"""License to Wed"" might as well have been calle...",Robin Williams is certainly a very gifted come...,License to Wed is no masterpiece in any shape ...,This movie was a bit of a bore. I walked in ra...,Is it too much to expect even mild entertainme...,I'm going to say something that no one in Lice...,I thought it was an OK comedy. It made me chuc...,...,I was listening to a radio show recently that ...,I am a big fan of Robin Williams but his chara...,"John Krasinski was hilarious, don't get me wro...",As expected of most (if not all) Mandy Moore m...,"I don't consider myself a Robin Williams fan, ...",I was pleasantly surprised by this movie. I we...,"Many, many, many years ago there was a time wh...",This must be one of the most awful movies ever...,If there is candidate for the patron Saint of ...,3.616755
7,7,tt0212235,Okay first things first... This is NOT a rip-o...,This movie is very much like Scary Movie. Eit...,"This movie was exactly what I expected, an ave...",A spoof of several horror movies. Kids at a hi...,Caught in the middle of a vicious killing spre...,my personal feeling is that this movie is bett...,I found this comedy to be a good and funny one...,Another spoof of the Scream/I Know What You Di...,...,I really wanted to like this film. I love hor...,"As bad as this movie was, it was a LOT better ...","This film is fairly enjoyable, but not special...",This is the worst parody i've ever seen in my ...,I caught this one on cable on a slow night. Su...,Oh my god. I got this movie for my birthday an...,"Oh, my God where do I start. I gave the movie ...",I can't believe the Director of this film came...,I didn't think this movie could possibly be an...,2.659130
8,8,tt0199813,NINJA CHECKMATE (1979) is better known as THE ...,"Supposedly dead, embittered former official, T...",If you remember anything that made watching ku...,Ninja Checkmate is a good kung fu film. It has...,I heard about this movie because of the famous...,Ah Pao wants to learn kung fu for a very impor...,THE MYSTERY OF CHESS BOXING isn't a very remar...,"Ninja Checkmate, or The Mystery of Chessboxing...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.425867
9,9,tt1865335,I was very surprised to read the negative revi...,After having discovered that his wife Elise (L...,"Yes, Pete Doherty appears to be out of his dep...",This is an anglo-saxon movie presupposed on Th...,So difficult to feel empathy for the neurosis ...,Lots of mumbling about love and not enough sub...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.535798
10,10,tt0475290,"I was very surprised how quickly ""Hail, Caesar...",The Coen Brothers are heroes of mine. They tra...,"Quirky and lingering, that's the Coen brothers...",After the phenomenal and emotional roller-coas...,This film seemed to get quite a mixed response...,This movie got an A rating in the Cleveland Pl...,"In the Coen Brothers latest ""Hail Caesar"" we h...","Spectacular Coen brother film, glad I own on i...",...,"For those who have read my reviews, you can se...",A small film that makes fun of Hollywood and t...,"""Hail, Caesar!"" is basically a series of over-...","It has so much potential. Great cast, great se...","Hail, Caesar is a comedy about a studio boss w...",I suspect the folks behind this film wanted to...,Don't waste your time and money on this one......,"Hail, Caesar! takes place in the 50s Hollywood...","Acting is great, direction is great, music is ...",3.870065
11,11,tt0113101,It's a pity that the critics gave 'Four Rooms'...,Four Rooms was concocted like one of those man...,"""Four Rooms"" is far more entertaining than you...",It's impossible to analyze this film without b...,I really don't understand why this movie got s...,"Four Rooms, the 4 part directed, 4 part writte...","I seem to recall that when ""Four Rooms"" came o...",Four Rooms (1995/Allison Anders; Alexandre Roc...,...,Four Rooms is a collection of four stories -- ...,"If you're in the mood for something weird, wil...",The movie is unanimously rejected by Film Crit...,I've loved Four Rooms ever since I saw it. It'...,"A movie about four different rooms, each direc...",Thank God for Roth's masterful interpretation ...,Four Rooms is a quite unusual dark comedy: it ...,Focusing on a new hotel bell boy (Tim Roth) we...,Ted the Bellhop (Tim Roth) is Working overtime...,3.643570
12,12,tt0418763,"I have never been in the military, so I can on...",I was reluctant to see this movie. As a vetera...,"I saw a promotional screening of the film, spo...","More than anyone, I would imagine that U.S. So...","I am not a professional writer, I am not a dir...",The old war movies are so simple. Our heroes a...,Gritty story based on the true life experience...,Just saw an advanced screening of this tonight...,...,"Bad, bad and bad. Wow !\nWhat a load of crap. ...",From personal memoirs and written with first h...,It's amazing how many times lately when I've l...,"When I went to watch this movie, I did so relu...",Jarhead moved me on a personal level since it ...,"There's a lot to love about JARHEAD, but there...","Jarhead, from Sam Mendes, is a good, solid mov...",I wasn't sure if I'd be able to relate to this...,As a fan of war films I really enjoyed this mo...,2.335647
13,13,tt0383574,"After seeing all three of the ""Pirates Of The ...",I don't know why so many people say that this ...,"Well, first of all, when I read the review for...","This film is a little too long, and doesn't qu...",Pirates of the Caribbean: Dead Man's Chest rev...,I only have one thing to say about this film.....,I will make my comments without spoilers so th...,I will firstly say that after seeing the trail...,...,Smart movies always have a seed. If you want t...,Middle installments of trilogies often tend to...,This is one of the most boring movies I've see...,Yet another sequel! Capn' Jack returns for ano...,"Well, it made a record $132 Million opening we...",Arriving hours early was worth it to be first ...,Our whole family LOVES JOHNNY DEPP!!! I also L...,I have no idea what bias drove many critics to...,The movie was absolutely amazing!!! The overal...,4.063033
14,14,tt0287467,I had absolutely no idea what to expect when I...,In spite of being driven to the top rank of ar...,I had a hard time getting around this movie ri...,"TALK TO HER (2002) **** Javier Camara, Dario G...",There is an interesting feel in Pedro Almodova...,This is a film about men and their emotions. O...,Spoilers herein.When a film's reason for being...,"Good film including interesting drama , colorf...",...,I originally came across this Pedro AlmodÃ³var ...,One must credit Pedro AlmodÃ³var for trying to ...,People talking about Pedro AlmodÃ³vars masterpi...,"""Talk to Her"" is Pedro Almodovar's bittersweet...","'Talk To Her (2002)' is about two men, one a n...",Almodovar reminds me of Hitchcock. His thrilli...,Pedro Alomodavar's films are always interestin...,I don't know. I only watched this subtitled mo...,I've heard a lot from Almodovar's new feature ...,3.930747
15,15,tt1396484,"I think the film was good, but didn't really l...","Of all the different genres of films, I think ...","I'm a huge fan of the 1990's TV film of ""It"", ...","It (2017) was a pretty good movie overall, mos...",The opening scene of IT is so promising - well...,IT truly is the scariest movie of all time... ...,It is a new adaptation of Stephen King's novel...,The opening scene is good. From there on...not...,...,It Chapter One is highly original horror. It C...,I don't have very specific complaints from the...,Adapted from Stephen King's best selling novel...,This new adaptation of Stephen King's monument...,"I saw ""It"", starring Jaeden Lieberher-Midnight...",I haven't read the book.I actually paid $22 to...,"If you've ever seen the original, and you have...","""It."" A story about kids in Derry who must ban...",Don't overthink it. Don't overthink IT. That's...,2.874730
16,16,tt0246578,"""Donnie Darko"" is a mind-bending film that is ...",DONNIE DARKO is a film hard to classify. Some ...,I love everything about this film! It's been a...,I think the main theme of this film was summed...,"""Donnie Darko"" is the very quintessence of cin...","Above all, this film has a kind of flow to it ...",Being an angst-ridden teenager has never been ...,"""Harvey"" meets ""The Mothman Prophecies,"" as a ...",...,"I'm not one for top 10 polls, or top fifty or ...",Ok I might be late to the party but I just wat...,I have come to the conclusion that this is jus...,To read some of the more lengthy reviews of th...,If you don't like this movie thats okay. Provi...,"I recently reviewed my DVD of ""Donnie Darko"" a...",After hearing such great things from everybody...,Time travel movie without one fraction of the ...,every few years you get a movie that doesn't d...,3.810897
17,17,tt0026029,Nearly every era in Hitchcock's directing care...,Most people associate Hitchcock with suspense ...,Alfred Hitchcock followed up his first interna...,The 39 Steps is one of Hitchcock's most econom...,"While I personally prefer Hitchcock's darker, ...","The 39 Steps, which is based on a novel and no...",While The 39 Steps doesn't quite make my top 5...,Tight and delicious. Everything matters and no...,...,Bored to death with the Robert Powell version ...,This adventure-comedy-romance throws an unwitt...,"Back in the long era of VHS tapes, I never fou...","Richard Hannay (Robert Donat), a Canadian visi...",Forget the other two film versions (from 1959 ...,The 39 Steps is one of Hitchcock's smartest th...,"As a Hitchcock fan, this was the only movie of...","Crisp, uncluttered, witty, and alive with char...",Considering the degree to which Hitchcock is r...,4.341973
18,18,tt0102536,"Jim Jarmusch, a director who never neglects to...",Jim Jarmusch does for movies as Tom Waits does...,Jim Jarmusch does an excellent job in creating...,"It's not that this movie is non stop laughs, b...",Excellent movie 'composed' by Jim Jarmusch. I ...,In the early 90's Jarmusch delivered this char...,"One night, five cities, five taxis. Five short...",Since I have almost seventeen years of experie...,...,This is not one of Jim Jarmusch's best movies ...,The world is round so no matter where you go y...,You ever wonder what could be happening to som...,5 nights in 5 cities; Paris has Beatrice Dalle...,6.5 of 10 stars. This is a good Film that is w...,One of Jarmusch's finest. Beautifully crafted ...,I've always considered Jim Jarmusch to be the ...,The first episode (Los Angeles) was the most b...,i absolutely loved this movie!!!! it was so wo...,4.122533
19,19,tt0087800,"A Nightmare on Elm Street, one of the scariest...",This movie might very well be one of the best ...,I am written this review In Memorie of my all ...,Wes Craven created Freddy Krueger and when he ...,"The teenagers of Springfield, Illinois are hav...",Every small-town neighborhood has an old legen...,"While I love horror films, I am not a big fan ...",What can I say really about Nightmare on Elm S...,...,"With the inevitable remake of ""A Nightmare on ...",If you're a slasher or horror fan and haven't ...,"Of the time, there where three slashers that w...","I was aware that this movie, along with the Fr...","""A Nightmare On Elm Street"" is a highly origin...",I think that the massive exposure the public h...,When I first watched this masterpiece of the g...,"While age has wearied the scares found within,...",This is very scary movie. It is one of scaries...,2.414425
20,20,tt0242653,The Matrix Revolutions (2003) is very underrat...,...that this film is not getting the credit it...,'The Matrix Revolutions' is the much-anticipat...,As the city of Zion fortifies itself for defen...,Let me first say i promise u will love the tri...,I found this better than the second Matrix fil...,"Picking up where ""Reloaded"" left off, it's tim...","This was a wonderful way, to end one of the be...",...,CONTAINS SPOILERSAfter protesting for as long ...,The first Matrix movie is one of the more grou...,I will start from the conclusion of it all: th...,The stunning conclusion to the Wachowski broth...,The Matrix Trilogy draws to a close and the fi...,"...they say?! Well, I say: the Warschaurowsky ...",Having now seen the full trilogy along with Th...,"I must be weird, because I haven't found anyon...","Right-o. Just got back from watching this, and...",3.307090
21,21,tt14921986,I actually enjoyed Interview with the Vampire ...,Interview with the Vampire was actually even b...,This was a terrific supernatural show from sta...,I am a little late to the party but was finall...,I ended up buying this series after watching i...,I am a huge Anne Rice fan and I love the Vampi...,I started with the Mayfair series (which I wil...,I recommend watching the behind the scenes doc...,...,One can only compare this gorgeously filmed re...,"Brilliant! So much more detail, more closer th...",I know it's not fair to judge a series by a fi...,"If you are new to this franchise, and have not...",I remember watching the movie when it came out...,I was leery of this show prior to its premiere...,There are a lot of negative reviews on here ab...,So I've seen a lot of backlash on social media...,As a Fan of the 1994 Movie: Interview with the...,4.154160
22,22,tt2771200,Disney has gotten on a kick of making live act...,"""Beauty and the Beast"" retells the Disney's ve...",Disney trying to top themselves. This live-act...,Amazed!!Probably the best word I can use to de...,This adaptation is a disgrace to the original....,1991's 'Beauty and the Beast' is not just my f...,"If it were in a theater rather than a cinema, ...",An adaptation of the fairy tale about a monstr...,...,I'm s huge fan of the original animated movie....,This film tells the story of an arrogant and s...,Beauty & The Beast is my 5th favorite movie of...,Come on Disney: what were you thinking?! You'v...,Watching this Beauty and the Beast remake is l...,2 words: Terrible & Waste of money. How on ear...,I enjoyed this film and would recommend it to ...,This is a proper example of when you have a ta...,The original hand drawn animation is one of Di...,4.167685

In [6]:
nltk_ratings = nltk_ratings.rename(columns={'unique id':'unique_id'})
nltk_ratings.head()

,Unnamed: 0,unique_id,0,1,2,3,4,5,6,7,...,91,92,93,94,95,96,97,98,99,average_rating
0,0,tt0111495,It's almost impossible for me to sit down and ...,This is the last film of Krzysztof Kieslowski ...,"The last film in the Three Colors trilogy, RED...",The final and most haunting of Polish director...,"Valentine, a model in France is separated from...",Trilogies are very interesting. Some go out wi...,One of my favorite films of all time. With bea...,The final part of Kieslowski's trilogy based o...,...,The greatest movie ever.How's that for a conte...,"I've seen only a few of Kieslowski's movies, b...","According to some moviegoers, Blue is the best...",The final film of Krzysztof Kieslowski's Three...,"Red is an odd little movie, one that is diffic...","Kieslowski's masterpiece, _Red_(English title)...","""Red"" is the best of the three of Kieslowski's...",The conclusion of Krzysztof KieÅ›lowski's Three...,Moviegoers really have no right to expect that...,4.571285
1,1,tt0053198,"So here it is, the landmark film which ushered...","Every day life, however 'real' and gritty it m...",THE FOUR HUNDRED BLOWS (FranÃ§ois Truffaut - Fr...,"The memorable story of young, troubled Antoine...","As the seminal work of the French New Wave, th...",I first saw this film around three or four yea...,The title of the film is The 400 Blows but it ...,This classic and unforgettable movie with amaz...,...,"'The 400 Blows', Truffaut's debut feature film...","Truffaut's debut feature, which presents an ad...",This movie broke and mended my heart for a tho...,Truffaut's semi-autobiographical film about th...,Hailed as a masterpiece by critics this film i...,"I know, I know...everybody's a critic. But if ...",The 400 Blows (1959) :French Cinema's attempt ...,Filmmakers like Jean Luc-Godard and Claude Cha...,"The life of a young teenager, Antoine, unloved...",3.709128
2,2,tt0108160,Sleepless in Seattle is manipulative and unash...,"I will not lie to you, I will admit right from...",Another lovely film from Nora Ephron in the tr...,The movies are full of alternate universes and...,"Annie Reed (Meg Ryan) hears, on a late night t...",Regardless of how cyberspace has seemingly dim...,I won't lie to you-this movie is a CHICK FLICK...,This is a movie with characters and performanc...,...,This is a romance - between an imperfect woman...,"Yes, just like another one Meg Ryan's comedy -...",Love love LOVE this movie! I have just seen it...,Movies like this are really our generation' gr...,"I post something to my story on Instagram, say...",I enjoyed this film from the beginning. Who do...,SPOILERSThis movie came out 10 years ago and I...,Reviewing such cultural icon as Sleepless in S...,I loved this movie..saw it 7 times. (Not quite...,4.667067
3,3,tt0479143,If you are a film buff you know for example th...,"And so here we have it, to date the final entr...","""Let me tell you something you already know. T...",Guys...Stallone did it.I went in cringing and ...,It all started way back in 1976 when Sylvester...,Rocky Balboa (2006) is truly the best Rocky Mo...,"In Philadelphia, the retired former champion R...",I've been able to see this before it's release...,...,Every bit as inspiring as the one that started...,You know this was the story that SHOULD have b...,Life in Philly was going great for Rocky Balbo...,An excellent addition to the Rocky series. Goo...,"In general, I always liked this series, even V...",You know surprisingly while i'm watching this ...,Interesting update to the Rocky Balboa franchi...,WOW!! That is first word that comes to mind 12...,When I heard that Sylvester Stallone was attem...,4.266597
4,4,tt0119141,'Fools Rush In' is one of my favorite romantic...,Alex (Matthew Perry) is a hotshot construction...,Alex Whitman (Matthew Perry) is a New Yorker s...,This is one of those movies that I can't help ...,this movie deserves a good review; while there...,This was a fun movie to watch. It is about an ...,Matthew Perry's films haven't been great succe...,This movie has been accused of stereotyping it...,...,"First, there are things I enjoyed about this m...","I am a great fan of Friends, in particular Cha...",Director Andy Tennant should have asked for a ...,"FOOLS RUSH IN (1997) **1/2 Matthew Perry, Salm...",This film shows the differences between differ...,"I saw ""Fools Rush In"" over the past weekend, a...","I just caught this on HBO, and before watching...",'Fools Rush In' is an entertaining movie altho...,I feel that I am drown in Mathew's gorgeous ey...,4.756418

In [7]:
movie_id_title = pd.read_csv(r"unique_movie_dataset(2).csv")
movie_id_title.head()

,Unnamed: 0,unique_original_title,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,unique_id
0,0,Trois couleurs : Rouge,NaN,NaN,NaN,NaN,tt0111495
1,1,Les Quatre Cents Coups,NaN,NaN,NaN,NaN,tt0053198
2,2,Sleepless in Seattle,NaN,NaN,NaN,NaN,tt0108160
3,3,Rocky Balboa,NaN,NaN,NaN,NaN,tt0479143
4,4,Fools Rush In,NaN,NaN,NaN,NaN,tt0119141

In [8]:
movie_id_title = movie_id_title.drop(labels=['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5'],axis=1)

In [9]:
movie_id_title.head()

   Unnamed: 0   unique_original_title  unique_id
0           0  Trois couleurs : Rouge  tt0111495
1           1  Les Quatre Cents Coups  tt0053198
2           2    Sleepless in Seattle  tt0108160
3           3            Rocky Balboa  tt0479143
4           4           Fools Rush In  tt0119141

# We have three separate datasets : ratings,movie_id_title & nltk_ratings.In our nltk_ratings dataset we don't have column for the title of movie but only the column for unique_id of movie which is the id of the movie generated from IMDb url of that movie.This column is common in both nltk_ratings dataset as well as movie_id_title dataset, so we'll be first merging the datasets on the basis of the common colum 'unique_id' and then we'll be transferring the content of the column 'unique_original_title' from the merged dataset into the nltk_ratings dataset,so that we get to know the reviews and nltk_rating correspond to which movie title.

In [10]:
# merge the two dataframes on the common column 'unique_id'
merged_df = pd.merge(nltk_ratings, movie_id_title[['unique_id', 'unique_original_title']], on='unique_id')

# add the 'unique_original_title' column from df2 to df1
nltk_ratings['unique_original_title'] = merged_df['unique_original_title']

In [11]:
nltk_ratings.head()

,Unnamed: 0,unique_id,0,1,2,3,4,5,6,7,...,92,93,94,95,96,97,98,99,average_rating,unique_original_title
0,0,tt0111495,It's almost impossible for me to sit down and ...,This is the last film of Krzysztof Kieslowski ...,"The last film in the Three Colors trilogy, RED...",The final and most haunting of Polish director...,"Valentine, a model in France is separated from...",Trilogies are very interesting. Some go out wi...,One of my favorite films of all time. With bea...,The final part of Kieslowski's trilogy based o...,...,"I've seen only a few of Kieslowski's movies, b...","According to some moviegoers, Blue is the best...",The final film of Krzysztof Kieslowski's Three...,"Red is an odd little movie, one that is diffic...","Kieslowski's masterpiece, _Red_(English title)...","""Red"" is the best of the three of Kieslowski's...",The conclusion of Krzysztof KieÅ›lowski's Three...,Moviegoers really have no right to expect that...,4.571285,Trois couleurs : Rouge
1,1,tt0053198,"So here it is, the landmark film which ushered...","Every day life, however 'real' and gritty it m...",THE FOUR HUNDRED BLOWS (FranÃ§ois Truffaut - Fr...,"The memorable story of young, troubled Antoine...","As the seminal work of the French New Wave, th...",I first saw this film around three or four yea...,The title of the film is The 400 Blows but it ...,This classic and unforgettable movie with amaz...,...,"Truffaut's debut feature, which presents an ad...",This movie broke and mended my heart for a tho...,Truffaut's semi-autobiographical film about th...,Hailed as a masterpiece by critics this film i...,"I know, I know...everybody's a critic. But if ...",The 400 Blows (1959) :French Cinema's attempt ...,Filmmakers like Jean Luc-Godard and Claude Cha...,"The life of a young teenager, Antoine, unloved...",3.709128,Les Quatre Cents Coups
2,2,tt0108160,Sleepless in Seattle is manipulative and unash...,"I will not lie to you, I will admit right from...",Another lovely film from Nora Ephron in the tr...,The movies are full of alternate universes and...,"Annie Reed (Meg Ryan) hears, on a late night t...",Regardless of how cyberspace has seemingly dim...,I won't lie to you-this movie is a CHICK FLICK...,This is a movie with characters and performanc...,...,"Yes, just like another one Meg Ryan's comedy -...",Love love LOVE this movie! I have just seen it...,Movies like this are really our generation' gr...,"I post something to my story on Instagram, say...",I enjoyed this film from the beginning. Who do...,SPOILERSThis movie came out 10 years ago and I...,Reviewing such cultural icon as Sleepless in S...,I loved this movie..saw it 7 times. (Not quite...,4.667067,Sleepless in Seattle
3,3,tt0479143,If you are a film buff you know for example th...,"And so here we have it, to date the final entr...","""Let me tell you something you already know. T...",Guys...Stallone did it.I went in cringing and ...,It all started way back in 1976 when Sylvester...,Rocky Balboa (2006) is truly the best Rocky Mo...,"In Philadelphia, the retired former champion R...",I've been able to see this before it's release...,...,You know this was the story that SHOULD have b...,Life in Philly was going great for Rocky Balbo...,An excellent addition to the Rocky series. Goo...,"In general, I always liked this series, even V...",You know surprisingly while i'm watching this ...,Interesting update to the Rocky Balboa franchi...,WOW!! That is first word that comes to mind 12...,When I heard that Sylvester Stallone was attem...,4.266597,Rocky Balboa
4,4,tt0119141,'Fools Rush In' is one of my favorite romantic...,Alex (Matthew Perry) is a hotshot construction...,Alex Whitman (Matthew Perry) is a New Yorker s...,This is one of those movies that I can't help ...,this movie deserves a good review; while there...,This was a fun movie to watch. It is about an ...,Matthew Perry's films haven't been great succe...,This movie has been accused of stereotyping it...,...,"I am a great fan of Friends, in particular Cha...",Director Andy Tennant should have asked for a ...,"FOOLS RUSH IN (1997) **1/2 Matthew Perry, Salm...",This film shows the differences between differ...,"I saw ""Fools Rush In"" over the past weekend, a...","I just caught this on HBO, and before watching...",'Fools Rush In' is an entertaining movie altho...,I feel that I am drown in Mathew's gorgeous ey...,4.756418,Fools Rush In

In [12]:
nltk_ratings = nltk_ratings.rename(columns={'unique_original_title':'original_title'})

In [13]:
nltk_ratings.head()

,Unnamed: 0,unique_id,0,1,2,3,4,5,6,7,...,92,93,94,95,96,97,98,99,average_rating,original_title
0,0,tt0111495,It's almost impossible for me to sit down and ...,This is the last film of Krzysztof Kieslowski ...,"The last film in the Three Colors trilogy, RED...",The final and most haunting of Polish director...,"Valentine, a model in France is separated from...",Trilogies are very interesting. Some go out wi...,One of my favorite films of all time. With bea...,The final part of Kieslowski's trilogy based o...,...,"I've seen only a few of Kieslowski's movies, b...","According to some moviegoers, Blue is the best...",The final film of Krzysztof Kieslowski's Three...,"Red is an odd little movie, one that is diffic...","Kieslowski's masterpiece, _Red_(English title)...","""Red"" is the best of the three of Kieslowski's...",The conclusion of Krzysztof KieÅ›lowski's Three...,Moviegoers really have no right to expect that...,4.571285,Trois couleurs : Rouge
1,1,tt0053198,"So here it is, the landmark film which ushered...","Every day life, however 'real' and gritty it m...",THE FOUR HUNDRED BLOWS (FranÃ§ois Truffaut - Fr...,"The memorable story of young, troubled Antoine...","As the seminal work of the French New Wave, th...",I first saw this film around three or four yea...,The title of the film is The 400 Blows but it ...,This classic and unforgettable movie with amaz...,...,"Truffaut's debut feature, which presents an ad...",This movie broke and mended my heart for a tho...,Truffaut's semi-autobiographical film about th...,Hailed as a masterpiece by critics this film i...,"I know, I know...everybody's a critic. But if ...",The 400 Blows (1959) :French Cinema's attempt ...,Filmmakers like Jean Luc-Godard and Claude Cha...,"The life of a young teenager, Antoine, unloved...",3.709128,Les Quatre Cents Coups
2,2,tt0108160,Sleepless in Seattle is manipulative and unash...,"I will not lie to you, I will admit right from...",Another lovely film from Nora Ephron in the tr...,The movies are full of alternate universes and...,"Annie Reed (Meg Ryan) hears, on a late night t...",Regardless of how cyberspace has seemingly dim...,I won't lie to you-this movie is a CHICK FLICK...,This is a movie with characters and performanc...,...,"Yes, just like another one Meg Ryan's comedy -...",Love love LOVE this movie! I have just seen it...,Movies like this are really our generation' gr...,"I post something to my story on Instagram, say...",I enjoyed this film from the beginning. Who do...,SPOILERSThis movie came out 10 years ago and I...,Reviewing such cultural icon as Sleepless in S...,I loved this movie..saw it 7 times. (Not quite...,4.667067,Sleepless in Seattle
3,3,tt0479143,If you are a film buff you know for example th...,"And so here we have it, to date the final entr...","""Let me tell you something you already know. T...",Guys...Stallone did it.I went in cringing and ...,It all started way back in 1976 when Sylvester...,Rocky Balboa (2006) is truly the best Rocky Mo...,"In Philadelphia, the retired former champion R...",I've been able to see this before it's release...,...,You know this was the story that SHOULD have b...,Life in Philly was going great for Rocky Balbo...,An excellent addition to the Rocky series. Goo...,"In general, I always liked this series, even V...",You know surprisingly while i'm watching this ...,Interesting update to the Rocky Balboa franchi...,WOW!! That is first word that comes to mind 12...,When I heard that Sylvester Stallone was attem...,4.266597,Rocky Balboa
4,4,tt0119141,'Fools Rush In' is one of my favorite romantic...,Alex (Matthew Perry) is a hotshot construction...,Alex Whitman (Matthew Perry) is a New Yorker s...,This is one of those movies that I can't help ...,this movie deserves a good review; while there...,This was a fun movie to watch. It is about an ...,Matthew Perry's films haven't been great succe...,This movie has been accused of stereotyping it...,...,"I am a great fan of Friends, in particular Cha...",Director Andy Tennant should have asked for a ...,"FOOLS RUSH IN (1997) **1/2 Matthew Perry, Salm...",This film shows the differences between differ...,"I saw ""Fools Rush In"" over the past weekend, a...","I just caught this on HBO, and before watching...",'Fools Rush In' is an entertaining movie altho...,I feel that I am drown in Mathew's gorgeous ey...,4.756418,Fools Rush In

# Now we'll be merging the datasets nltk_ratings and ratings on the basis of common column 'original_title'.Why? The dataset nltk_ratings does not contain the ratings that user has given to each movie but this information is essential in order to calculate the leniency scorefor each user which will be calculated on the basis of both nltk ratings and user ratings.

In [2]:
merged_df = pd.merge(ratings, nltk_ratings[['original_title','average_rating']], on='original_title')

# ratings['nltk_ratings'] = merged_df['average_rating']

NameError: name 'pd' is not defined

In [15]:
ratings.head()

   userId  movieId  rating          original_title
0       1      110     1.0  Trois couleurs : Rouge
1       1      147     4.5  Les Quatre Cents Coups
2       1      858     5.0    Sleepless in Seattle
3       1     1246     5.0            Rocky Balboa
4       1     1968     4.0           Fools Rush In

In [1]:
merged_df
merged_df_sorted = merged_df.sort_values(by='userId',ascending=True)
# merged_df_sorted = merged_df_sorted.loc[ratings['userId']<=6851]

NameError: name 'merged_df' is not defined

In [17]:
# ratings = ratings.loc[ratings['userId']<=6851]

In [18]:
ratings

         userId  movieId  rating          original_title
0             1      110     1.0  Trois couleurs : Rouge
1             1      147     4.5  Les Quatre Cents Coups
2             1      858     5.0    Sleepless in Seattle
3             1     1246     5.0            Rocky Balboa
4             1     1968     4.0           Fools Rush In
...         ...      ...     ...                     ...
1048570  270896      788     2.5          Mrs. Doubtfire
1048571  270896      480     5.0         Monsoon Wedding
1048572  270896      500     3.5          Reservoir Dogs
1048573  270896     3101     3.0     I Love You to Death
1048574  270896      223     4.0                 Rebecca

[1048575 rows x 4 columns]

In [19]:
merged_df_sorted

        userId  movieId  rating          original_title  average_rating
0            1      110     1.0  Trois couleurs : Rouge        4.571285
128549       1     1246     5.0            Rocky Balboa        4.266597
154301       1     1968     4.0           Fools Rush In        4.756418
180912       1     2762     4.5      Young and Innocent        3.598082
230555       1     2959     4.0          License to Wed        3.616755
...        ...      ...     ...                     ...             ...
66511   270896      110     5.0  Trois couleurs : Rouge        4.571285
577417  270896      339     3.0          Night on Earth        4.122533
771159  270896      786     2.5           Almost Famous        4.689428
290578  270896     2959     5.0          License to Wed        3.616755
180911  270896     1968     4.5           Fools Rush In        4.756418

[1048575 rows x 5 columns]

In [20]:
# ratings = ratings.drop('nltk_ratings',axis=1)
# ratings['nltk_ratings'] = merged_df_sorted['average_rating']

In [21]:
ratings

         userId  movieId  rating          original_title
0             1      110     1.0  Trois couleurs : Rouge
1             1      147     4.5  Les Quatre Cents Coups
2             1      858     5.0    Sleepless in Seattle
3             1     1246     5.0            Rocky Balboa
4             1     1968     4.0           Fools Rush In
...         ...      ...     ...                     ...
1048570  270896      788     2.5          Mrs. Doubtfire
1048571  270896      480     5.0         Monsoon Wedding
1048572  270896      500     3.5          Reservoir Dogs
1048573  270896     3101     3.0     I Love You to Death
1048574  270896      223     4.0                 Rebecca

[1048575 rows x 4 columns]

In [22]:
merged_df_new = pd.merge(ratings, merged_df_sorted[['userId', 'original_title', 'average_rating']], on=['userId', 'original_title'])

In [23]:
merged_df_new
merged_df_new = merged_df_new.rename(columns={'average_rating':'nltk_rating'})
merged_df_new
merged_df_new = merged_df_new[merged_df_new['userId']<=1219]
merged_df_new

,userId,movieId,rating,original_title,nltk_rating
0,1,110,1.0,Trois couleurs : Rouge,4.571285
1,1,147,4.5,Les Quatre Cents Coups,3.709128
2,1,858,5.0,Sleepless in Seattle,4.667067
3,1,1246,5.0,Rocky Balboa,4.266597
4,1,1968,4.0,Fools Rush In,4.756418
...,...,...,...,...,...
5001,1219,54503,5.0,Shuang ma lian huan,2.425867
5002,1219,58559,1.0,Confession of a Child of the Century,2.535798
5003,1219,260,1.0,The 39 Steps,4.341973
5004,1219,780,1.0,La passion de Jeanne d'Arc,4.034362
5005,1219,527,5.0,Once Were Warriors,2.769950

# Calculating leniency score and normalizing it on a scale of (0-1):

In [24]:
# Calculate the difference between the rating given by the user and the average rating for each movie
merged_df_new['diff'] = merged_df_new['rating'] - merged_df_new['nltk_rating']

# Group the data by user and sum up the differences to get the total leniency score for each user
leniency_scores_df = merged_df_new.groupby('userId')['diff'].sum().reset_index(name='leniency_score')

# Normalize the scores using Min-Max scaling
min_score = leniency_scores_df['leniency_score'].min()
max_score = leniency_scores_df['leniency_score'].max()
leniency_scores_df['normalized_score'] = (leniency_scores_df['leniency_score'] - min_score) / (max_score - min_score)

# Print the leniency scores for each user
print(leniency_scores_df)

     userId  leniency_score  normalized_score
0         1        3.823808          0.791561
1         2       -9.841387          0.413206
2         3       -6.866605          0.495571
3         4        3.649467          0.786734
4         5        0.332933          0.694907
..      ...             ...               ...
890    1213       -3.395695          0.591671
891    1214        7.204382          0.885160
892    1215        0.561880          0.701246
893    1216        1.658765          0.731616
894    1219       -2.338365          0.620946

[895 rows x 3 columns]

In [25]:
merged_df_new

,userId,movieId,rating,original_title,nltk_rating,diff
0,1,110,1.0,Trois couleurs : Rouge,4.571285,-3.571285
1,1,147,4.5,Les Quatre Cents Coups,3.709128,0.790872
2,1,858,5.0,Sleepless in Seattle,4.667067,0.332933
3,1,1246,5.0,Rocky Balboa,4.266597,0.733403
4,1,1968,4.0,Fools Rush In,4.756418,-0.756418
...,...,...,...,...,...,...
5001,1219,54503,5.0,Shuang ma lian huan,2.425867,2.574133
5002,1219,58559,1.0,Confession of a Child of the Century,2.535798,-1.535798
5003,1219,260,1.0,The 39 Steps,4.341973,-3.341973
5004,1219,780,1.0,La passion de Jeanne d'Arc,4.034362,-3.034362
5005,1219,527,5.0,Once Were Warriors,2.769950,2.230050

In [26]:
# Merging the normalized score in our original dataset:

merged_df = pd.merge(merged_df_sorted, leniency_scores_df[['userId', 'normalized_score']], on='userId')
merged_df

,userId,movieId,rating,original_title,average_rating,normalized_score
0,1,110,1.0,Trois couleurs : Rouge,4.571285,0.791561
1,1,1246,5.0,Rocky Balboa,4.266597,0.791561
2,1,1968,4.0,Fools Rush In,4.756418,0.791561
3,1,2762,4.5,Young and Innocent,3.598082,0.791561
4,1,2959,4.0,License to Wed,3.616755,0.791561
...,...,...,...,...,...,...
5001,1219,110,5.0,Trois couleurs : Rouge,4.571285,0.620946
5002,1219,54503,5.0,Shuang ma lian huan,2.425867,0.620946
5003,1219,58559,1.0,Confession of a Child of the Century,2.535798,0.620946
5004,1219,527,5.0,Once Were Warriors,2.769950,0.620946
5005,1219,260,1.0,The 39 Steps,4.341973,0.620946

In [27]:
merged_df_new['leniency_score_for_user'] = merged_df['normalized_score']
merged_df_new

,userId,movieId,rating,original_title,nltk_rating,diff,leniency_score_for_user
0,1,110,1.0,Trois couleurs : Rouge,4.571285,-3.571285,0.791561
1,1,147,4.5,Les Quatre Cents Coups,3.709128,0.790872,0.791561
2,1,858,5.0,Sleepless in Seattle,4.667067,0.332933,0.791561
3,1,1246,5.0,Rocky Balboa,4.266597,0.733403,0.791561
4,1,1968,4.0,Fools Rush In,4.756418,-0.756418,0.791561
...,...,...,...,...,...,...,...
5001,1219,54503,5.0,Shuang ma lian huan,2.425867,2.574133,0.620946
5002,1219,58559,1.0,Confession of a Child of the Century,2.535798,-1.535798,0.620946
5003,1219,260,1.0,The 39 Steps,4.341973,-3.341973,0.620946
5004,1219,780,1.0,La passion de Jeanne d'Arc,4.034362,-3.034362,0.620946
5005,1219,527,5.0,Once Were Warriors,2.769950,2.230050,0.620946

In [4]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import NearestNeighbors

# Define the weightage for cosine similarity and leniency score
cosine_weightage = 0.7
leniency_weightage = 0.3

leniency_scores = merged_df_new.groupby('userId')['leniency_score_for_user'].mean()
# Create a sparse matrix with userId as the rows and movieId as the columns
sparse_matrix = csr_matrix((merged_df_new['rating'], (merged_df_new['userId'], merged_df_new['movieId'])))

# Calculate the cosine similarity between all pairs of users
cosine_similarities = cosine_similarity(sparse_matrix)

# Find similar users for each user in the list
knn = NearestNeighbors(n_neighbors=6, metric='cosine')
knn.fit(cosine_similarities)


similar_users_df = pd.DataFrame(columns=['userId', 'similar_user_1', 'similar_user_2', 'similar_user_3', 'similar_user_4', 'similar_user_5'])

for user_id in merged_df_new['userId']:
    # Compute the cosine similarity and leniency score between all pairs of users
    similarities = (cosine_weightage * cosine_similarities[user_id]) + (leniency_scores[user_id] * leniency_weightage)
    
    # Find the k nearest neighbors of the user
    distances, indices = knn.kneighbors(similarities.reshape(1, -1))
    num_similar_users = len(indices[0])
    if num_similar_users >= 5:
        # Store the similar users in the new DataFrame
        row_data = {'userId': user_id,
                    'similar_user_1': indices[0,1],
                    'similar_user_2': indices[0,2],
                    'similar_user_3': indices[0,3],
                    'similar_user_4': indices[0,4],
                    'similar_user_5': indices[0,5]}
    else:
        # If there are fewer than k similar users, fill the remaining columns with NaN
        row_data = {'userId': user_id}
        for i in range(1, 5+1):
            if i <= num_similar_users:
                row_data[f'similar_user_{i}'] = indices[0,i]
            else:
                row_data[f'similar_user_{i}'] = float('nan')
                
    similar_users_df = similar_users_df.append(row_data, ignore_index=True)
    
    # Print the similar users for the given user
#     print(f"Similar users for user {user_id}:")
#

NameError: name 'merged_df_new' is not defined

In [29]:
similar_users_df

,userId,similar_user_1,similar_user_2,similar_user_3,similar_user_4,similar_user_5
0,1.0,340.0,719.0,672.0,1136.0,NaN
1,1.0,340.0,719.0,672.0,1136.0,NaN
2,1.0,340.0,719.0,672.0,1136.0,NaN
3,1.0,340.0,719.0,672.0,1136.0,NaN
4,1.0,340.0,719.0,672.0,1136.0,NaN
...,...,...,...,...,...,...
5001,1219.0,1178.0,340.0,11.0,924.0,NaN
5002,1219.0,1178.0,340.0,11.0,924.0,NaN
5003,1219.0,1178.0,340.0,11.0,924.0,NaN
5004,1219.0,1178.0,340.0,11.0,924.0,NaN
5005,1219.0,1178.0,340.0,11.0,924.0,NaN

In [30]:
similar_users_df.drop_duplicates(subset=['userId'], inplace=True)

In [31]:
similar_users_df

,userId,similar_user_1,similar_user_2,similar_user_3,similar_user_4,similar_user_5
0,1.0,340.0,719.0,672.0,1136.0,NaN
11,2.0,261.0,191.0,400.0,533.0,NaN
28,3.0,24.0,346.0,201.0,150.0,NaN
36,4.0,229.0,392.0,682.0,611.0,NaN
42,5.0,37.0,461.0,727.0,661.0,NaN
...,...,...,...,...,...,...
4979,1213.0,56.0,559.0,1104.0,1114.0,NaN
4986,1214.0,191.0,559.0,533.0,971.0,NaN
4993,1215.0,567.0,871.0,828.0,450.0,NaN
4997,1216.0,151.0,115.0,983.0,768.0,NaN
4999,1219.0,1178.0,340.0,11.0,924.0,NaN

In [32]:
similar_users_df['similar_user_5']=similar_users_df['userId']

In [33]:
similar_users_df = similar_users_df[similar_users_df['userId'] <= 1219]

In [34]:
similar_users_df

,userId,similar_user_1,similar_user_2,similar_user_3,similar_user_4,similar_user_5
0,1.0,340.0,719.0,672.0,1136.0,1.0
11,2.0,261.0,191.0,400.0,533.0,2.0
28,3.0,24.0,346.0,201.0,150.0,3.0
36,4.0,229.0,392.0,682.0,611.0,4.0
42,5.0,37.0,461.0,727.0,661.0,5.0
...,...,...,...,...,...,...
4979,1213.0,56.0,559.0,1104.0,1114.0,1213.0
4986,1214.0,191.0,559.0,533.0,971.0,1214.0
4993,1215.0,567.0,871.0,828.0,450.0,1215.0
4997,1216.0,151.0,115.0,983.0,768.0,1216.0
4999,1219.0,1178.0,340.0,11.0,924.0,1219.0

In [35]:
similar_users_df[similar_users_df['userId']==91]

,userId,similar_user_1,similar_user_2,similar_user_3,similar_user_4,similar_user_5
397,91.0,191.0,1066.0,225.0,741.0,91.0

In [36]:
merged_df_new['leniency_score_for_user'].min()

0.0

In [37]:
merged_df_new['leniency_score_for_user'].max()

1.0

In [38]:
similar_users_no_reviews_df = pd.read_csv(r'similarity_without_reviews.csv')

In [39]:
similar_users_no_reviews_df

,userId,similar_user_1,similar_user_2,similar_user_3,similar_user_4,similar_user_5
0,1.0,1207.0,719.0,1136.0,672.0,1.0
1,2.0,341.0,191.0,518.0,900.0,2.0
2,3.0,493.0,201.0,521.0,773.0,3.0
3,4.0,53.0,77.0,999.0,692.0,4.0
4,5.0,453.0,1209.0,401.0,959.0,5.0
...,...,...,...,...,...,...
890,1213.0,1187.0,153.0,427.0,1047.0,1213.0
891,1214.0,846.0,33.0,1096.0,546.0,1214.0
892,1215.0,138.0,495.0,758.0,337.0,1215.0
893,1216.0,816.0,29.0,1194.0,982.0,1216.0
894,1219.0,838.0,1219.0,350.0,1099.0,1219.0

In [40]:
# get the set of userIds that are present in both datasets
userIds = set(similar_users_df['userId']).intersection(set(similar_users_no_reviews_df['userId']))

# create a list to store the matching userIds
matching_userIds = []

# iterate through the userIds
for userId in userIds:
    # get the rows from both datasets that correspond to this userId
    df1_rows = similar_users_df[similar_users_df['userId'] == userId]
    df2_rows = similar_users_no_reviews_df[similar_users_no_reviews_df['userId'] == userId]

    # get the similar_user_1 and similar_user_2 values for both datasets
    df1_similar_users = set(zip(df1_rows['similar_user_1'],df1_rows['similar_user_2']))
    df2_similar_users = set(zip(df2_rows['similar_user_1'],df2_rows['similar_user_2']))

    # check if the similar_user_1 and similar_user_2 values are the same in both datasets
    if df1_similar_users == df2_similar_users:
        matching_userIds.append(userId)

# print the matching userIds
print(matching_userIds)

[24.0, 262.0, 717.0, 879.0, 887.0, 1002.0, 1061.0, 1158.0]

In [41]:
print(similar_users_df.shape)

(895, 6)

In [42]:
print(similar_users_no_reviews_df.shape)

(895, 6)

In [44]:
similar_users_df[similar_users_df['userId']==991]
# cosine_similarities()

,userId,similar_user_1,similar_user_2,similar_user_3,similar_user_4,similar_user_5
3974,991.0,979.0,991.0,261.0,418.0,991.0

In [45]:
similar_users_no_reviews_df[similar_users_no_reviews_df['userId']==991]

,userId,similar_user_1,similar_user_2,similar_user_3,similar_user_4,similar_user_5
721,991.0,338.0,979.0,118.0,1158.0,991.0

In [46]:
merged_df_new[merged_df_new['userId']==991]

,userId,movieId,rating,original_title,nltk_rating,diff,leniency_score_for_user
3974,991,5,3.0,Four Rooms,3.643570,-0.643570,0.611268
3975,991,141,3.0,Donnie Darko,3.810897,-0.810897,0.611268
3976,991,260,5.0,The 39 Steps,4.341973,0.658027,0.611268
3977,991,648,3.0,La belle et la b?te,4.167685,-1.167685,0.611268
3978,991,780,4.0,La passion de Jeanne d'Arc,4.034362,-0.034362,0.611268
3979,991,786,4.0,Almost Famous,4.689428,-0.689428,0.611268

In [47]:
merged_df_new[merged_df_new['userId']==418]

,userId,movieId,rating,original_title,nltk_rating,diff,leniency_score_for_user
1665,418,141,5.0,Donnie Darko,3.810897,1.189103,0.621925
1666,418,260,5.0,The 39 Steps,4.341973,0.658027,0.621925
1667,418,648,3.0,La belle et la b?te,4.167685,-1.167685,0.621925
1668,418,762,3.0,Monty Python and the Holy Grail,4.258657,-1.258657,0.621925
1669,418,780,4.0,La passion de Jeanne d'Arc,4.034362,-0.034362,0.621925
1670,418,786,3.0,Almost Famous,4.689428,-1.689428,0.621925

In [48]:
merged_df_new[merged_df_new['userId']==1158]

,userId,movieId,rating,original_title,nltk_rating,diff,leniency_score_for_user
4780,1158,79,3.0,??,2.874730,0.125270,0.57718
4781,1158,141,3.0,Donnie Darko,3.810897,-0.810897,0.57718
4782,1158,260,4.0,The 39 Steps,4.341973,-0.341973,0.57718
4783,1158,648,3.0,La belle et la b?te,4.167685,-1.167685,0.57718
4784,1158,780,4.0,La passion de Jeanne d'Arc,4.034362,-0.034362,0.57718
4785,1158,786,3.0,Almost Famous,4.689428,-1.689428,0.57718

In [49]:
file_path = r'C:\Users\KIIT\Desktop\MINOR_PROJECT\Datasets\similarity_with_reviews.csv'
similar_users_df.to_csv(file_path,index=True)

In [50]:
file_path = r'C:\Users\KIIT\Desktop\MINOR_PROJECT\Datasets\complete_dataset.csv'
merged_df_new.to_csv(file_path,index=True)

In [1]:
merged_df_new[merged_df_new['userId']==95]

NameError: name 'merged_df_new' is not defined