In [1]:
import numpy as np
import pandas as pd

In [2]:
user_movie_rating_df = pd.read_csv(r"final_dataset(2).csv",encoding='latin1',on_bad_lines='skip',low_memory=False)

In [3]:
user_movie_rating_df

         Unnamed: 0  userId  movieId  rating          original_title
0                 0       1      110     1.0  Trois couleurs : Rouge
1             66512       1      147     4.5  Les Quatre Cents Coups
2             71479       1      858     5.0    Sleepless in Seattle
3            128549       1     1246     5.0            Rocky Balboa
4            154301       1     1968     4.0           Fools Rush In
...             ...     ...      ...     ...                     ...
1048570      793073  270896      788     2.5          Mrs. Doubtfire
1048571      883926  270896      480     5.0         Monsoon Wedding
1048572      921499  270896      500     3.5          Reservoir Dogs
1048573     1015493  270896     3101     3.0     I Love You to Death
1048574     1043103  270896      223     4.0                 Rebecca

[1048575 rows x 5 columns]

# In this step , we extract the unique movies because we have to store them in separate csv.Why? Currently our dataset 'final_dataset(2).csv' contains columns like rating,userId,original_title and there are large number of instances of original_title of movie corresponding to every user who has seen the movie and in order to generate reviews corresponding to every movie for further analysis, we'll have to generate the unique movie titles.

In [4]:
unique_movies_df=pd.DataFrame(user_movie_rating_df["original_title"].unique(),columns=["unique_original_title"])

In [5]:
unique_movies_df

                                unique_original_title
0                              Trois couleurs : Rouge
1                              Les Quatre Cents Coups
2                                Sleepless in Seattle
3                                        Rocky Balboa
4                                       Fools Rush In
5                                  Young and Innocent
6                                      License to Wed
7   Shriek If You Know What I Did Last Friday the ...
8                                 Shuang ma lian huan
9                Confession of a Child of the Century
10                                 Cesare deve morire
11                                         Four Rooms
12                                            Jarhead
13         Pirates of the Caribbean: Dead Man's Chest
14                                     Hable con ella
15                                                 ??
16                                       Donnie Darko
17                                       The 39 Steps
18                                     Night on Earth
19                          A Nightmare on Elm Street
20                             The Matrix Revolutions
21                         Interview with the Vampire
22                                La belle et la b?te
23                    Monty Python and the Holy Grail
24                         La passion de Jeanne d'Arc
25                                      Almost Famous
26                                     Mrs. Doubtfire
27                                         Parenthood
28                                    Monsoon Wedding
29                                     Reservoir Dogs
30                                 Once Were Warriors
31                                      The Third Man
32                                I Love You to Death
33                             My Super Ex-Girlfriend
34                                            Rebecca
35                                     Batman & Robin
36                                       The Departed

In [6]:
unique_movieId_df=pd.DataFrame(user_movie_rating_df["movieId"].unique(),columns=["unique_movieId"])

In [7]:
unique_movieId_df

    unique_movieId
0              110
1              147
2              858
3             1246
4             1968
5             2762
6             2959
7             4226
8            54503
9            58559
10           96821
11               5
12              25
13              58
14              64
15              79
16             141
17             260
18             339
19             377
20             605
21             628
22             648
23             762
24             780
25             786
26             788
27            1552
28             480
29             500
30             527
31            1092
32            3101
33            4474
34             223
35             415
36            1422

In [8]:
unique_movies_df.to_csv(r'C:\Users\KIIT\Desktop\MINOR_PROJECT\Datasets\unique_movie_dataset.csv')